In [8]:
import pandas as pd

In [9]:
df=pd.read_csv('houseprice.csv',usecols=["SalePrice", "MSSubClass", "MSZoning", "LotFrontage", "LotArea",
                                         "Street", "YearBuilt", "LotShape", "1stFlrSF", "2ndFlrSF"]).dropna()

In [10]:
df.shape

(1201, 10)

In [11]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,YearBuilt,1stFlrSF,2ndFlrSF,SalePrice
0,60,RL,65.0,8450,Pave,Reg,2003,856,854,208500
1,20,RL,80.0,9600,Pave,Reg,1976,1262,0,181500
2,60,RL,68.0,11250,Pave,IR1,2001,920,866,223500
3,70,RL,60.0,9550,Pave,IR1,1915,961,756,140000
4,60,RL,84.0,14260,Pave,IR1,2000,1145,1053,250000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1201 entries, 0 to 1459
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MSSubClass   1201 non-null   int64
 1   MSZoning     1201 non-null   object
 2   LotFrontage  1201 non-null   float64
 3   LotArea      1201 non-null   int64
 4   Street       1201 non-null   object
 5   LotShape     1201 non-null   object
 6   YearBuilt    1201 non-null   int64
 7   1stFlrSF     1201 non-null   int64
 8   2ndFlrSF     1201 non-null   int64
 9   SalePrice    1201 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 103.2+ KB

In [13]:
for i in df.columns:
    print("colum name {} and unique values are {}".format(i,len(df[i].unique())))

colum name MSSubClass and unique values are 15
colum name MSZoning and unique values are 5
colum name LotFrontage and unique values are 110
colum name LotArea and unique values are 869
colum name Street and unique values are 2
colum name LotShape and unique values are 4
colum name YearBuilt and unique values are 112
colum name 1stFlrSF and unique values are 678
colum name 2ndFlrSF and unique values are 368
colum name SalePrice and unique values are 597

In [14]:
import datetime
datetime.datetime.now().year

2024

In [15]:
df['Total Years']=datetime.datetime.now().year-df['YearBuilt']

In [16]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,YearBuilt,1stFlrSF,2ndFlrSF,SalePrice,Total Years
0,60,RL,65.0,8450,Pave,Reg,2003,856,854,208500,21
1,20,RL,80.0,9600,Pave,Reg,1976,1262,0,181500,48
2,60,RL,68.0,11250,Pave,IR1,2001,920,866,223500,23
3,70,RL,60.0,9550,Pave,IR1,1915,961,756,140000,109
4,60,RL,84.0,14260,Pave,IR1,2000,1145,1053,250000,24

In [17]:
df.drop("YearBuilt", axis=1,inplace=True)

In [18]:
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', '1stFlrSF', '2ndFlrSF', 'SalePrice', 'Total Years'],
      dtype='object')

In [19]:
cat_features=["MSSubClass", "MSZoning", "street", "LotShape"]